#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
# graphical
# Use text install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --noipv6 --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$9QdVuNi2YYV4BqIU$KbeiVSigG2.bUJBbYKDsQmwKfDkICbxC8YR6nz73OVqcQRcUldAtI6yMOZVP0YunYzybJF8Afbrpg5B5a7DfH1
# System services
services --enabled="chronyd"
# System timezone
# timezone America/New_York --isUtc
timezone Europe/Moscow --isUtc
user --groups=wheel --name=packer --password=$6$l74QsXYVhxzJ1dI6$Dtx1V5A6KHD7d6XBct9gSNfrrvJRjQcDRby0gsn6Ms6MA/Cw2UpR/8J1j4qR09rglvSPTNSHmJ0vmWX0vf3Ux/ --iscrypted --gecos="packer"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

# Accept Eula
eula --agreed

# Reboot afer installing
reboot

%packages
@^minimal
@core
# @system-admin-tools
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
